.ranking-section-wrapper{
	.after-vote-form{
		max-width: 600px;
		margin: 0 auto;
		padding-bottom: 20px;
		&,textarea{
			display: none;
		}
		textarea{
			height: 90px;
		}
	}
	&.voted .after-vote-form{
		display: block;
	}
	&.voted-positive .voting-messages-positive,
	&.voted-negative .voting-messages-negative{
		display: block;
	}
	.after-voting-button {
	    margin-top: 10px;
	}
	.after-vote-form.vote-message-sent *:not(.vote-message-sent-text){
		display: none;
	}
	/*.vote-message-sent-text {
		font-size: 28px;
	}*/
}