@import 'mediawiki.mixins';

.ranking-section {
	display: table;
	width: 100%;
	padding: 0 0 22px 0;
	margin-bottom: 10px;

	.buttons {
		white-space: nowrap;
	}

	.sub-section-header {
		// Overrides for default <h2> styles
		// @todo solve by not using <h2> tags...
		padding-top: 0;
		margin-top: 0;
	}

	.ranking-btn {
		min-width: 100px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-left: 3px;

		&[disabled].selected {
			opacity: 1;
		}

		// When an icon is added to the text
		.fa {
			margin-right: 5px;
		}
	}

	.sub-section {
		display: table-cell;
		vertical-align: top;
	}

	.sub-section + .sub-section {
		padding-left: 2%;
	}

	@media screen and (max-width: 768px) {
		display: block;

		.sub-section {
			display: block;
		}

		.sub-section + .sub-section {
			padding-left: 0;
		}

		.sub-section-header {
			margin-top: 1em;
		}

		.ranking-btn {
			min-width: 144px;
			margin: 0;

			&.no {
				margin: 0 0 0 10px;
			}
		}
	}
}

.article-type-mainpage {
	.ranking-section {
		display: none;
	}
}
