<div class="ranking-section hidden-print noprint">
	<div class="sub-section sub-section1">
		<h2>{{ section1title }}</h2>
		<div>
			<button class="btn ranking-btn yes" type="button">{{ yes }}</button>
			<button class="btn ranking-btn no" type="button">{{ no }}</button>
		</div>

		<div class="voting-messages"></div>
		{{#is-captcha-enabled}}
		<div class="g-recaptcha"
			 data-sitekey="{{ siteKey }}"
			 data-callback="verifyRankingCaptcha"
			 data-error-callback="handleRankingCaptchaError"
			 data-size="invisible">
		</div>
		{{/is-captcha-enabled}}
	</div>

	<div class="sub-section sub-section2">
		<h2>{{ section2title }}</h2>
		<a class="btn ranking-btn changerequest" target="_blank">{{ proposeChanges }}</a>
	</div>
</div>
