<div class="ranking-section hidden-print noprint">
	<div class="header">{{ section-title }}</div>
	<div class="content">
		<div class="buttons">
			<button class="btn btn-secondary ranking-btn yes" title="{{ yes }}">{{ yes }}</button>
			<button class="btn btn-secondary ranking-btn no" title="{{ no }}">{{ no }}</button>
		</div>
		<div class="voting-messages"></div>
		{{#is-captcha-enabled}}
			<div class="h-captcha"
				 data-sitekey="{{ siteKey }}"
				 data-size="invisible"
				 data-callback="verifyRankingCaptcha"
				 data-error-callback="handleRankingCaptchaError"
				 data-close-callback="handleRankingCaptchaError"
			></div>
		{{/is-captcha-enabled}}
	</div>
</div>
